In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('home-data.csv')
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [3]:
df.shape

(99, 2)

In [4]:
df.isnull().sum()

x    0
y    0
dtype: int64

In [5]:
x = df['x']
y = df['y']

In [6]:
# step's 1
m = 0
c = 0
l_rate = 0.0001

n = int(len(x))

interactions = 1000

#step's 2
for i in range(interactions):
    y_pred = m*x + c
    # derivative of m
    derivative_m = (-2/n) * sum(x*(y-y_pred))
    
    # derivative of c
    derivative_c = (-2/n) * sum(y-y_pred)
    
    #final work
    m = m - l_rate * derivative_m
    c = c - l_rate * derivative_c
    
print(m, c)

1.4796491688881985 0.10148121497503648

In [7]:
x = 38.816818
y = 1.4796491688881985 * x + 0.10148121497503648
y

57.5367537075595

In [11]:
x = float(input("enter any value of x"))
y =  1.4796491688881985 * x + 0.10148121497503648
y

enter any value of x40

59.28744797050298