In [2]:
import random
random.seed(2017)
import pandas as pd
from patsy import dmatrices

In [3]:
df = pd.DataFrame({'A': ['high', 'medium', 'low'],
                   'B': [10,20,30]},
                    index=[0, 1, 2])
                   
df

        A   B
0    high  10
1  medium  20
2     low  30

In [5]:
df_with_dummies= pd.get_dummies(df, prefix='A', columns=['A'])
df_with_dummies

    B  A_high  A_low  A_medium
0  10    True  False     False
1  20   False  False      True
2  30   False   True     False

In [8]:
df['A_pd_factorized'] = pd.factorize(df['A'])[0]
df

        A   B  A_pd_factorized  A_LabelEncoded
0    high  10                0               0
1  medium  20                1               2
2     low  30                2               1

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['A_LabelEncoded'] = le.fit_transform(df.A)
df

        A   B  A_pd_factorized  A_LabelEncoded
0    high  10                0               0
1  medium  20                1               2
2     low  30                2               1